.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 300px;
    height: 100px;
  }
  

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    width: 6px;
    height: 6px;
    z-index: -1;
    animation: moveStar linear infinite;
  }
  
  @keyframes moveStar {
    from {transform: translateY(-100%);}
    to {transform: translateY(100%);}
  }
  
  .button {
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    margin: 0px;
    font-size: 12px;
    color: #ffffff;
    background-color: #0000ff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    z-index: 1;
    line-height: 1.5;
    position: relative; /* position relative to allow the pseudo element to be positioned relative to the button */
    overflow: hidden; /* hide the pseudo element outside the button */
}

.button::after {
    content: ""; /* necessary for the pseudo element to be displayed */
    position: absolute; /* position the pseudo element absolutely */
    bottom: 0; /* position it at the bottom of the button */
    left: 0; /* position it at the left of the button */
    width: 100%; /* make it the full width of the button */
    height: 5px; /* adjust the height as necessary */
    background: rgba(0, 0, 0, 0.5); /* make it dark and semi-transparent */
}

  
  .button:hover {
    background-color: #0000ff;
    color: #4AF39A;
    transform: translateY(-2px);
  }
  
  .button:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }
  
  .buttong {
    font-family: 'Press Start 2P', cursive;
    padding: 25px;
    margin: 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: #9046F4;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    position: relative; /* position relative to allow the pseudo element to be positioned relative to the button */
    overflow: hidden; /* hide the pseudo element outside the button */
  }
  
  .buttong::after {
    content: ""; /* necessary for the pseudo element to be displayed */
    position: absolute; /* position the pseudo element absolutely */
    bottom: 0; /* position it at the bottom of the button */
    left: 0; /* position it at the left of the button */
    width: 100%; /* make it the full width of the button */
    height: 5px; /* adjust the height as necessary */
    background: rgba(0, 0, 0, 0.5); /* make it dark and semi-transparent */
}

  .buttong:hover {
    background-color: #9046F4;
    color: #4AF39A;
    transform: translateY(-2px);
  }
  
  .buttong:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }

  .buttonm {
    font-family: 'Press Start 2P', cursive;
    padding: 25px;
    margin: 10px;
    font-size: 12px;
    color: #ffffff;
    background: linear-gradient(45deg, #fe8a4b, #ff605f);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    position: relative; /* position relative to allow the pseudo element to be positioned relative to the button */
    overflow: hidden; /* hide the pseudo element outside the button */
  }
  
  .buttonm::after {
    content: ""; /* necessary for the pseudo element to be displayed */
    position: absolute; /* position the pseudo element absolutely */
    bottom: 0; /* position it at the bottom of the button */
    left: 0; /* position it at the left of the button */
    width: 100%; /* make it the full width of the button */
    height: 5px; /* adjust the height as necessary */
    background: rgba(0, 0, 0, 0.5); /* make it dark and semi-transparent */
}

  
  .buttonm:hover {
    background-color: #feda4a;
    color: #000;
    transform: translateY(-2px);
  }
  
  .buttonm:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 480px) {
    .button {
     padding: 25px;
    }
  }
  