body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: blue;
}

#game canvas {
  display: block;
  max-width: 100%; /* Ensure the canvas does not exceed the container's width */
}

.how-to-play {
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: #FFF;
  padding: 10px;
  border-radius: 10px;
  max-width: 700px;
  width: 90%; /* Use a percentage to make the container responsive */
  margin: 20px auto;
  line-height: 2;
}

.how-to-play {
  height: 25%; /* Set the height to 30% for small screens */
}

.how-to-play p {
  margin: 0;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .how-to-play {
    font-size: 14px; /* Increase the font size for larger screens */
    width: 70%; /* Adjust the container width for larger screens */
    height: auto; /* Reset the height to auto for larger screens */
  }
}
